basePath: /api/go/v1
definitions:
  apperror.HttpError:
    description: Information about the error
    properties:
      detail:
        type: string
    type: object
  device.RentingDeviceResponse:
    description: Information about the current status of device
    properties:
      display_name:
        example: Aydar Ibragimov
        type: string
      id:
        example: 1
        type: integer
      name:
        example: Iphone 12 Pro
        type: string
    type: object
  postgres.Skill:
    description: skills which you want add to profile
    properties:
      skills:
        example: Some skills
        type: string
    type: object
  postgres.UserProfile:
    description: User profile information
    properties:
      devices:
        example: ""
        type: string
      display_name:
        example: Зиннатуллин Эмиль Рамилевич
        type: string
      email:
        example: test@mail.ru
        type: string
      employee:
        example: Go-developer
        type: string
      mobile_devices:
        example: iphone 11
        type: string
      phone:
        example: "+79472738427"
        type: string
      skills:
        example: A lot of skills
        type: string
    type: object
  user.EmpolyeeDTO:
    properties:
      id:
        example: 1
        type: integer
      name:
        example: Go-developer
        type: string
    type: object
  user.UserDTO:
    description: Main info about user and his projects
    properties:
      display_name:
        example: Зиннатуллин Эмиль Рамилевич
        type: string
      email:
        example: test@mail.ru
        type: string
      employee:
        example: Go-developer
        type: string
      id:
        example: 1
        type: integer
      phone:
        example: "+79648246372"
        type: string
      skills:
        example: A lot of skills
        type: string
    type: object
  user.UserWithProjectsDTO:
    description: Info about user and his projects
    properties:
      display_name:
        example: Зиннатуллин Эмиль Рамилевич
        type: string
      id:
        example: 1
        type: integer
      projects:
        example: Халвёнок, SCB-monitor
        type: string
    type: object
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  termsOfService: http://swagger.io/terms/
  title: Swagger Example API
  version: "1.0"
paths:
  /devices/:
    get:
      consumes:
      - application/json
      description: get mobile devices
      parameters:
      - description: os
        in: query
        name: os
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/device.RentingDeviceResponse'
            type: array
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/apperror.HttpError'
      security:
      - ApiKeyAuth: []
      summary: List mobile devices
      tags:
      - devices
  /devices/rent/{device_id}:
    get:
      consumes:
      - application/json
      description: rent device
      parameters:
      - description: Device ID
        in: path
        name: device_id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/device.RentingDeviceResponse'
        "400":
          description: User input error, see error detail
          schema:
            $ref: '#/definitions/apperror.HttpError'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/apperror.HttpError'
      security:
      - ApiKeyAuth: []
      summary: Rent device
      tags:
      - devices
  /devices/return/{device_id}:
    get:
      consumes:
      - application/json
      description: return device
      parameters:
      - description: Device ID
        in: path
        name: device_id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/device.RentingDeviceResponse'
        "400":
          description: User input error, see error detail
          schema:
            $ref: '#/definitions/apperror.HttpError'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/apperror.HttpError'
      security:
      - ApiKeyAuth: []
      summary: Return device
      tags:
      - devices
  /users/{user-id}:
    get:
      description: Get info about user by user id
      parameters:
      - description: User ID
        in: path
        name: user-id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/user.UserDTO'
            type: array
        "404":
          description: We couldn`t find such user
          schema:
            type: string
      security:
      - ApiKeyAuth: []
      summary: Метод получения подробной информации о сотруднике
      tags:
      - users
  /users/employee/{empl-id}:
    get:
      description: Get users with certain employee_id
      parameters:
      - description: Employee ID
        in: path
        name: empl-id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/user.UserWithProjectsDTO'
            type: array
        "404":
          description: We couldn`t find users with such employee ID
          schema:
            type: string
      security:
      - ApiKeyAuth: []
      summary: Метод получения сотрудников
      tags:
      - users
  /users/employees:
    get:
      description: Get employees list
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/user.EmpolyeeDTO'
            type: array
      security:
      - ApiKeyAuth: []
      summary: Метод получения списка специальностей
      tags:
      - users
  /users/profile:
    get:
      description: Get all users from DB and return as json
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/postgres.UserProfile'
            type: array
      security:
      - ApiKeyAuth: []
      summary: Метод для получения информации о профиле
      tags:
      - users
    post:
      consumes:
      - multipart/form-data
      description: Parse xlsx file and put profiles from it to DB
      parameters:
      - description: Xlsx file for parsing
        in: formData
        name: file
        required: true
        type: file
      produces:
      - text/plain
      responses:
        "200":
          description: Successfully added all profiles!
          schema:
            type: string
        "422":
          description: Error retrieving the File
          schema:
            type: string
        "500":
          description: Error setting the file size || Error parsing file
          schema:
            type: string
      security:
      - ApiKeyAuth: []
      summary: Метод для получения информации о профиле
      tags:
      - users
  /users/skills:
    post:
      consumes:
      - application/json
      description: Add skills to user profile
      parameters:
      - description: Skills what we want to add
        in: body
        name: skills
        required: true
        schema:
          $ref: '#/definitions/postgres.Skill'
      produces:
      - text/plain
      responses:
        "200":
          description: Successfully added!
          schema:
            type: string
      security:
      - ApiKeyAuth: []
      summary: Метод для добавления навыков
      tags:
      - users
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
